body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*Using css grid to position and resize the notes to make everything responsive*/
.notes-list{
  display:grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /*how many columns the grid should have. auto-fit automatically resizes no. of columns based on column size. A column cannot be smaller than 250px and it cannot be bigger than one fractional unit. fractional unit means whatever space is available*/
}

.note{
  background-color: #fef68a;
  border-radius: 10px;
  padding: 1rem; /*rem means relative to the font size.Changing font size will change padding*/
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /*first item positioned at the start of the container and last item positioned at the end of the container*/
}

.note-footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

